@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0');

:root {
	--font-sans-serif: 'Open Sans', sans-serif;
	--font-cursive: 'Indie Flower', cursive;

	--color-background: #fff;
	--color-primary: #187498;
	--color-primary-light: #bad6e1;
	--color-error: #eb5353;
	--color-success: #36ae7c;
	--color-host: #f9d923;

	--color-text-light: #fff;
	--color-text-dark: #000;

	--input-border-width: 2px;

	--border-radius-small: 0.5rem;
	--border-radius-medium: 0.75rem;

	--box-shadow: 0.1rem 0.1rem 0.35rem rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-sans-serif);
	font-size: 1rem;
}

body {
	background-color: var(--color-background);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
